<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liyihuan.app.android.androidpractice">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".clazz.ClazzActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.AlbumCameraActivity"></activity>
        <activity android:name=".forresult.ForResult2Activity" />
        <activity android:name=".forresult.ForResultActivity" />
        <activity android:name=".hovertop.ScrollActivity" />
        <activity android:name=".hovertop.HoverTopActivity" />
        <activity
            android:name=".chat.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".refresh.SmartRefreshActivity" />
        <activity android:name=".rxjava.RxJavaPracticeActivity" />
        <activity android:name=".http.NewHttpActivity" />
        <activity android:name=".datasource.api.HttpActivity" />
        <activity android:name=".kotlin.Xc2Activity" />
        <activity android:name=".fragment.LazyActivity">

        </activity>
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".star.StarActivity" />
        <activity android:name=".waveball.WaveLoadingBallActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".fish.FishActivity" />
        <activity android:name=".diffType.DiffTypeActivity" />
        <activity android:name=".touchevent.DispatchTouchEventActivity" />
        <activity android:name=".glodgame.DispatchGoldActivity" />
        <activity android:name=".luckypan.LuckyPanActivity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".live.LiveActivity" />
        <activity android:name=".video.VoiceActivity" />
        <activity android:name=".imdemo.conversation.ConversationListActivity" />
        <activity android:name=".imdemo.login.ImLoginActivity" />
        <activity android:name=".video.LocalVideoActivity" />
        <activity android:name=".rvlayout.MyRvActivity" />
        <activity android:name=".lifecycle.LifeActivity" />
        <activity android:name=".imdemo.imchat.ImDemoActivity" />
        <activity android:name=".camera.CameraDemo" />
        <activity android:name=".tarotview.TarotActivity" />
        <activity android:name=".Indicator.IndicatorActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".wechat.WechatActivity" />
        <activity android:name=".swipecard.SwipeCardActivity" />
        <activity android:name=".timecount.TimeCountActivity" />

        <provider
            android:name=".camera.ImagePickProvider"
            android:authorities="${applicationId}.android7.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>